In [1]:
import pandas as pd
import ast
import regex as re

In [2]:
df=pd.read_csv('euro_players_fixtures_stats.csv')
df.head()

,team_id,team_name,team_logo,team_update,player_id,player_name,player_photo,stat_games_minutes,stat_games_number,stat_games_position,...,stat_dribbles_past,stat_fouls_drawn,stat_fouls_committed,stat_cards_yellow,stat_cards_red,stat_penalty_won,stat_penalty_commited,stat_penalty_scored,stat_penalty_missed,stat_penalty_saved
0,25,Germany,https://media.api-sports.io/football/teams/25.png,2024-07-16T04:04:32+00:00,497,Manuel Neuer,https://media.api-sports.io/football/players/4...,90.0,1,G,...,NaN,NaN,NaN,0,0,NaN,NaN,0,0,0.0
1,25,Germany,https://media.api-sports.io/football/teams/25.png,2024-07-16T04:04:32+00:00,502,Joshua Kimmich,https://media.api-sports.io/football/players/5...,90.0,6,D,...,4.0,NaN,NaN,0,0,NaN,NaN,0,0,NaN
2,25,Germany,https://media.api-sports.io/football/teams/25.png,2024-07-16T04:04:32+00:00,2285,Antonio Rüdiger,https://media.api-sports.io/football/players/2...,90.0,2,D,...,NaN,NaN,1.0,0,0,NaN,NaN,0,0,NaN
3,25,Germany,https://media.api-sports.io/football/teams/25.png,2024-07-16T04:04:32+00:00,972,Jonathan Tah,https://media.api-sports.io/football/players/9...,90.0,4,D,...,NaN,1.0,2.0,1,0,NaN,NaN,0,0,NaN
4,25,Germany,https://media.api-sports.io/football/teams/25.png,2024-07-16T04:04:32+00:00,25342,Maximilian Mittelstädt,https://media.api-sports.io/football/players/2...,90.0,18,D,...,NaN,2.0,2.0,0,0,NaN,NaN,0,0,NaN

In [3]:
df.columns

Index(['team_id', 'team_name', 'team_logo', 'team_update', 'player_id',
       'player_name', 'player_photo', 'stat_games_minutes',
       'stat_games_number', 'stat_games_position', 'stat_games_rating',
       'stat_games_captain', 'stat_games_substitute', 'stat_offsides',
       'stat_shots_total', 'stat_shots_on', 'stat_goals_total',
       'stat_goals_conceded', 'stat_goals_assists', 'stat_goals_saves',
       'stat_passes_total', 'stat_passes_key', 'stat_passes_accuracy',
       'stat_tackles_total', 'stat_tackles_blocks',
       'stat_tackles_interceptions', 'stat_duels_total', 'stat_duels_won',
       'stat_dribbles_attempts', 'stat_dribbles_success', 'stat_dribbles_past',
       'stat_fouls_drawn', 'stat_fouls_committed', 'stat_cards_yellow',
       'stat_cards_red', 'stat_penalty_won', 'stat_penalty_commited',
       'stat_penalty_scored', 'stat_penalty_missed', 'stat_penalty_saved'],
      dtype='object')

In [2]:
df1=pd.read_csv('output.csv')
df1

,fixture_id,fixture_date,venue_name,venue_city,goals_away,goals_home,fixture_round,score_fulltime_away,score_fulltime_home,score_extratime_away,...,score_halftime_away,score_halftime_home,score_penalty_away,score_penalty_home,away_team_id,away_team_name,away_team_win_result,home_team_id,home_team_name,home_team_win_result
0,[1145509 1145510 1145511 1145512 1145513 11455...,['2024-06-14T19:00:00+00:00' '2024-06-15T13:00...,['Fußball Arena München' 'Cologne Stadium' 'Ol...,['München' 'Köln' 'Berlin' 'Dortmund' 'Stuttga...,[1 3 0 1 1 1 1 1 1 1 0 2 0 1 1 0 0 3 1 1 1 1 0...,[5 1 3 2 1 0 0 0 2 1 2 2 1 1 1 0 2 0 1 0 1 0 0...,['Group A - 1' 'Group A - 1' 'Group B - 1' 'Gr...,[1 3 0 1 1 1 1 1 1 1 0 2 0 1 1 0 0 3 1 1 1 1 0...,[5 1 3 2 1 0 0 0 2 1 2 2 1 1 1 0 2 0 1 0 1 0 0...,[False False False False False],...,[0 2 0 1 1 1 1 1 0 1 0 1 0 1 0 0 0 2 0 0 0 1 0...,[3 0 3 2 0 0 0 0 0 1 1 0 0 1 0 0 1 0 1 0 0 0 0...,[0 3 5],[3 5 3],[1108 15 3 778 21 10 2 773 770 ...,['Scotland' 'Switzerland' 'Croatia' 'Albania' ...,[False True False False True True True Fal...,[ 25 769 9 768 1091 14 775 1 27 ...,['Germany' 'Hungary' 'Spain' 'Italy' 'Slovenia...,[ True False True True False False False Tr...

In [3]:
di={}

In [4]:
di['fixture_id']=list(map(int,df1.iloc[0,0].strip('\n|[|]').split(' ')))

In [63]:
dates=df1.iloc[0,1].strip("[]|").replace("\n"," ").replace("'","").split(' ')
cleaned_list = [item for item in dates if item != '']
di['fixture_date']=cleaned_list

In [46]:
df1.iloc[0,1][0].strip("[]").replace("\n"," ")
#[sample_string[i:i+25] for i in range(0, len(sample_string), 25)]
print([df1.iloc[0,1][i:i+25] for i in range(0,len(df1.iloc[0,1]),25)])
#di['fixture_date']=[df1.iloc[0,1][0][i:i+25] for i in range(0,len(df1.iloc[0,1][0]),25)]

["['2024-06-14T19:00:00+00:", "00' '2024-06-15T13:00:00+", "00:00'\n '2024-06-15T16:00", ":00+00:00' '2024-06-15T19", ":00:00+00:00'\n '2024-06-1", "6T16:00:00+00:00' '2024-0", "6-16T19:00:00+00:00'\n '20", "24-06-17T19:00:00+00:00' ", "'2024-06-17T16:00:00+00:0", "0'\n '2024-06-18T19:00:00+", "00:00' '2024-06-19T19:00:", "00+00:00'\n '2024-06-19T16", ":00:00+00:00' '2024-06-19", "T13:00:00+00:00'\n '2024-0", "6-20T19:00:00+00:00' '202", "4-06-20T16:00:00+00:00'\n ", "'2024-06-20T13:00:00+00:0", "0' '2024-06-21T19:00:00+0", "0:00'\n '2024-06-22T19:00:", "00+00:00' '2024-06-22T16:", "00:00+00:00'\n '2024-06-23", "T19:00:00+00:00' '2024-06", "-23T19:00:00+00:00'\n '202", "4-06-24T19:00:00+00:00' '", '2024-06-24T19:00:00+00:00', "'\n '2024-06-25T19:00:00+0", "0:00' '2024-06-25T19:00:0", "0+00:00'\n '2024-06-25T16:", "00:00+00:00' '2024-06-26T", "16:00:00+00:00'\n '2024-06", "-26T19:00:00+00:00' '2024", "-06-16T13:00:00+00:00'\n '", '2024-06-17T13:00:00+00:00', "' '2024-06-18T16:00:00+00", ":00'\n '2024-06-21T13:00:0", "0+00:00' '2024-06-21T16:0", "0:00+00:00'\n '2024-06-22T", "13:00:00+00:00' '2024-06-", "25T16:00:00+00:00'\n '2024", "-06-26T16:00:00+00:00' '2", "024-06-26T19:00:00+00:00'", "\n '2024-06-29T16:00:00+00", ":00' '2024-06-29T19:00:00", "+00:00'\n '2024-07-01T16:0", "0:00+00:00' '2024-06-30T1", "6:00:00+00:00'\n '2024-06-", "30T19:00:00+00:00' '2024-", "07-01T19:00:00+00:00'\n '2", "024-07-02T16:00:00+00:00'", " '2024-07-02T19:00:00+00:", "00'\n '2024-07-05T16:00:00", "+00:00' '2024-07-06T16:00", ":00+00:00'\n '2024-07-05T1", "9:00:00+00:00' '2024-07-0", "6T19:00:00+00:00'\n '2024-", "07-09T19:00:00+00:00' '20", "24-07-10T19:00:00+00:00'\n", " '2024-07-14T19:00:00+00:", "00']"]

In [6]:
di['goals_away']=list(map(int,df1.iloc[0,4].strip('\n|[|]').split()))

In [7]:
di['goals_home']=list(map(int,df1.iloc[0,5].strip('\n|[|]').split()))

In [8]:
di['score_fulltime_away']=list(map(int,df1.iloc[0,7].strip('\n|[|]').split()))

In [9]:
di['score_fulltime_home']=list(map(int,df1.iloc[0,8].strip('\n|[|]').split()))

In [10]:
di['score_halftime_away']=list(map(int,df1.iloc[0,11].strip('\n|[|]').split()))

In [11]:
di['score_halftime_home']=list(map(int,df1.iloc[0,12].strip('\n|[|]').split()))

In [72]:
di['away_team_id']= list(map(int,[item for item in  df1.iloc[0,15].strip("[]").replace("\n","").split(" ") if item!= '']))

In [97]:
country_string = df1.iloc[0, 16].strip("[]").replace("\n", " ")

# Split by single quotes followed by spaces, ensuring multi-word countries remain intact
country_list = [item.strip("'") for item in re.findall(r"'(.*?)'", country_string)]

di['away_team_name']=country_list

In [102]:
df1.iloc[0,17]

'[False  True False False  True  True  True False False False False  True\n  True  True  True  True  True False False  True  True False False False\n False False False False  True  True False False  True False False  True\n False]'

In [30]:
di['away_team_win']=df1.iloc[0,17].strip("[]").replace("\n"," ").split()

In [73]:
di['home_team_id']= list(map(int,[item for item in  df1.iloc[0,18].strip("[]").replace("\n","").split(" ") if item!= '']))

In [98]:
country_string = df1.iloc[0, 19].strip("[]").replace("\n", " ")

# Split by single quotes followed by spaces, ensuring multi-word countries remain intact
country_list = [item.strip("'") for item in re.findall(r"'(.*?)'", country_string)]

di['home_team_name']=country_list

In [33]:
di['home_team_win']=df1.iloc[0,20].strip("[]").replace("\n"," ").split()

In [106]:
fixtures_df=pd.DataFrame(di)
fixtures_df

,fixture_id,fixture_date,goals_away,goals_home,score_fulltime_away,score_fulltime_home,score_halftime_away,score_halftime_home,away_team_id,away_team_name,home_team_id,home_team_name
0,1145509,2024-06-14T19:00:00+00:00,1,5,1,5,0,3,1108,Scotland,25,Germany
1,1145510,2024-06-15T13:00:00+00:00,3,1,3,1,2,0,15,Switzerland,769,Hungary
2,1145511,2024-06-15T16:00:00+00:00,0,3,0,3,0,3,3,Croatia,9,Spain
3,1145512,2024-06-15T19:00:00+00:00,1,2,1,2,1,2,778,Albania,768,Italy
4,1145513,2024-06-16T16:00:00+00:00,1,1,1,1,1,0,21,Denmark,1091,Slovenia
5,1145514,2024-06-16T19:00:00+00:00,1,0,1,0,1,0,10,England,14,Serbia
6,1145515,2024-06-17T19:00:00+00:00,1,0,1,0,1,0,2,France,775,Austria
7,1145516,2024-06-17T16:00:00+00:00,1,0,1,0,1,0,773,Slovakia,1,Belgium
8,1145517,2024-06-18T19:00:00+00:00,1,2,1,2,0,0,770,Czech Republic,27,Portugal
9,1145518,2024-06-19T19:00:00+00:00,1,1,1,1,1,1,15,Switzerland,1108,Scotland
10,1145519,2024-06-19T16:00:00+00:00,0,2,0,2,0,1,769,Hungary,25,Germany
11,1145520,2024-06-19T13:00:00+00:00,2,2,2,2,1,0,778,Albania,3,Croatia
12,1145521,2024-06-20T19:00:00+00:00,0,1,0,1,0,0,768,Italy,9,Spain
13,1145522,2024-06-20T16:00:00+00:00,1,1,1,1,1,1,10,England,21,Denmark
14,1145523,2024-06-20T13:00:00+00:00,1,1,1,1,0,0,14,Serbia,1091,Slovenia
15,1145524,2024-06-21T19:00:00+00:00,0,0,0,0,0,0,2,France,1118,Netherlands
16,1145525,2024-06-22T19:00:00+00:00,0,2,0,2,0,1,774,Romania,1,Belgium
17,1145526,2024-06-22T16:00:00+00:00,3,0,3,0,2,0,27,Portugal,777,Türkiye
18,1145527,2024-06-23T19:00:00+00:00,1,1,1,1,0,1,25,Germany,15,Switzerland
19,1145528,2024-06-23T19:00:00+00:00,1,0,1,0,0,0,769,Hungary,1108,Scotland
20,1145529,2024-06-24T19:00:00+00:00,1,1,1,1,0,0,768,Italy,3,Croatia
21,1145530,2024-06-24T19:00:00+00:00,1,0,1,0,1,0,9,Spain,778,Albania
22,1145531,2024-06-25T19:00:00+00:00,0,0,0,0,0,0,1091,Slovenia,10,England
23,1145532,2024-06-25T19:00:00+00:00,0,0,0,0,0,0,14,Serbia,21,Denmark
24,1145533,2024-06-25T16:00:00+00:00,3,2,3,2,1,0,775,Austria,1118,Netherlands
25,1145534,2024-06-26T16:00:00+00:00,1,1,1,1,1,1,774,Romania,773,Slovakia
26,1145535,2024-06-26T19:00:00+00:00,2,1,2,1,0,0,777,Türkiye,770,Czech Republic
27,1189846,2024-06-16T13:00:00+00:00,2,1,2,1,1,1,1118,Netherlands,24,Poland
28,1189847,2024-06-17T13:00:00+00:00,0,3,0,3,0,1,772,Ukraine,774,Romania
29,1189848,2024-06-18T16:00:00+00:00,1,3,1,3,1,1,1104,Georgia,777,Türkiye
30,1189849,2024-06-21T13:00:00+00:00,2,1,2,1,0,1,772,Ukraine,773,Slovakia
31,1189850,2024-06-21T16:00:00+00:00,3,1,3,1,1,1,775,Austria,24,Poland
32,1189851,2024-06-22T13:00:00+00:00,1,1,1,1,0,1,770,Czech Republic,1104,Georgia
33,1189852,2024-06-25T16:00:00+00:00,1,1,1,1,0,0,24,Poland,2,France
34,1189853,2024-06-26T16:00:00+00:00,0,0,0,0,0,0,1,Belgium,772,Ukraine
35,1189854,2024-06-26T19:00:00+00:00,0,2,0,2,0,1,27,Portugal,1104,Georgia
36,1212958,2024-06-29T16:00:00+00:00,0,2,0,2,0,1,768,Italy,15,Switzerland
37,1214156,2024-06-29T19:00:00+00:00,0,2,0,2,0,0,21,Denmark,25,Germany
38,1215073,2024-07-01T16:00:00+00:00,0,1,0,1,0,0,1,Belgium,2,France
39,1215074,2024-06-30T16:00:00+00:00,1,2,1,1,1,0,773,Slovakia,10,England
40,1215075,2024-06-30T19:00:00+00:00,1,4,1,4,1,1,1104,Georgia,9,Spain
41,1215076,2024-07-01T19:00:00+00:00,0,0,0,0,0,0,1091,Slovenia,27,Portugal
42,1215077,2024-07-02T16:00:00+00:00,3,0,3,0,1,0,1118,Netherlands,774,Romania
43,1215078,2024-07-02T19:00:00+00:00,2,1,2,1,1,0,777,Türkiye,775,Austria
44,1219688,2024-07-05T16:00:00+00:00,1,2,1,1,0,0,25,Germany,9,Spain
45,1219689,2024-07-06T16:00:00+00:00,1,1,1,1,0,0,15,Switzerland,10,England
46,1219959,2024-07-05T19:00:00+00:00,0,0,0,0,0,0,2,France,27,Portugal
47,1220308,2024-07-06T19:00:00+00:00,1,2,1,2,1,0,777,Türkiye,1118,Netherlands
48,1225853,2024-07-09T19:00:00+00:00,1,2,1,2,1,2,2,France,9,Spain
49,1227539,2024-07-10T19:00:00+00:00,2,1,2,1,1,1,10,England,1118,Netherlands
50,1232551,2024-07-14T19:00:00+00:00,1,2,1,2,0,0,10,England,9,Spain

In [107]:
fixtures_df.to_csv('fixtures_cleaned.csv',index=False)